{% extends 'polls/base.html' %}
{% load widget_tweaks %}

{% block title%}Create a Poll{% endblock%}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col col-lg-7">
            <div class="card bg-light border-1">
                <form action="{% url 'create_poll' %}" method="POST" id="create-form">
                    <div class="card-header">
                        <h3>Write your poll</h3>
                    </div>
                    {% csrf_token %}
                    <div class="container">
                        <div class="mb-3 mt-2">
                            <label for="poll_question" class="form-label">Question</label>                            
                                {% render_field form.question class="form-control" id="poll_question" cols="15" rows="2" %}                  
                        </div>
                        <div class="row mb-3">
                            <label for="poll_option_one" class="col-sm-2 col-form-label">Option 1</label>
                            <div class="col-sm-10">
                                {% render_field form.option_one class="form-control" id="poll_option_one" %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="poll_option_two" class="col-sm-2 col-form-label">Option 2</label>
                            <div class="col-sm-10">
                                {% render_field form.option_two class="form-control" id="poll_option_two" %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="poll_option_three" class="col-sm-2 col-form-label">Option 3</label>
                            <div class="col-sm-10">
                                {% render_field form.option_three class="form-control" id="poll_option_three" %}
                            </div>
                        </div>
                    </div>
                </form> 
                <div class="card-footer">
                    <a href="{% url 'home' %}"><button class="btn btn-outline-dark btn-sm">Back to polls</button></a>  
                    <input type="submit" form="create-form" name="submit" value="Create" class="btn btn-outline-dark btn-sm float-end">
                </div>
            </div>
        </div>
    </div>
{% endblock%}