{% extends 'polls/base.html' %}
{% load widget_tweaks %}

{% block title%}Create a Poll{% endblock%}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col col-lg-8">
            <div class="card bg-light border-1">
                <form action="{% url 'create_poll' %}" method="POST">
                    <div class="card-header">
                        Write your poll
                    </div>
                    {% csrf_token %}
                    <div class="container">
                        <div class="mb-3 mt-2">
                            <label for="poll_question" class="form-label">Question</label>                            
                                {% render_field form.question class="form-control" id="poll_question" cols="15" rows="2" %}                  
                        </div>
                        <div class="row mb-3">
                            <label for="poll_option_one" class="col-sm-2 col-form-label">Option 1</label>
                            <div class="col-sm-10">
                                {% render_field form.option_one class="form-control" id="poll_option_one" %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="poll_option_two" class="col-sm-2 col-form-label">Option 2</label>
                            <div class="col-sm-10">
                                {% render_field form.option_two class="form-control" id="poll_option_two" %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="poll_option_three" class="col-sm-2 col-form-label">Option 3</label>
                            <div class="col-sm-10">
                                {% render_field form.option_three class="form-control" id="poll_option_three" %}
                            </div>
                        </div>
                    </div>
                    <div class="div-footer">
                        <input type="submit" name="submit" value="Create" class="btn btn-outline-dark float-end mb-2 me-2 mt-2">                                              
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock%}